* {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
}

body {
  background-color: white;
  width: 1000px;
  margin: 0 auto;
}

nav {
  background-color: black;
  text-align: center;
}

a {
  text-transform: uppercase;
  margin: 30px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

#home {

}

header {
  background-color: white;
  background: url('https://c1.staticflickr.com/5/4237/34354542383_bd46987bf3_k.jpg');
  background-size: 78%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 400px;
  margin-bottom: 10px;
  margin-top: -30px;
  border-bottom: 3px solid black;
}

h1 {
  font-size: 85px;
  margin: 30px;
  text-align: center;
  font-weight: 900;
  padding-top: 210px;
  letter-spacing: 3px;
  opacity: 0.8;
  text-shadow:
   -1px -1px 0 #f2fcd4,
    1px -1px 0 #f2fcd4,
    -1px 1px 0 #f2fcd4,
     1px 1px 0 #f2fcd4;
}

h4 {
  text-align: right;
  margin-top: -50px;
  margin-right: 25px;
  font-size: 20px;
  letter-spacing: 2px;
  text-shadow:
   -1px -1px 0 #f2fcd4,
    1px -1px 0 #f2fcd4,
    -1px 1px 0 #f2fcd4,
     1px 1px 0 #f2fcd4;
}

article {
  display: inline-block;
  min-width: 32.92%;
  max-width: 32.92%;
  vertical-align: top;
  justify-content: center;
  background-color: white;
}

h2 {
  font-size: 25px;
  font-weight: 900;
  text-decoration: underline;
  margin: 0px 0px 0px 25px;
}

p {
  margin: 0px 30px 0px 30px;
  text-align: justify;
}

ul
{
  margin: 0px 30px 0px 30px;
}
